{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Website of Altug Karakurt">
    <meta name="keywords" content="altug karakurt, scientific computing, information theory, machine learning, multi-armed bandits">

    <!-- Importing jQuery, Bootstrap, etc. -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Custom Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bootswatch_darkly.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/custom.css' %}">

    {% if title %}
        <title>{{ title }} - Altug Karakurt</title>
    {% else %}
        <title>Altug Karakurt</title>
    {% endif %}
    <title></title>
</head>
<body>
    <header class="site-header">
    <nav class="navbar navbar-expand-lg bg-dark py-3" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if title == 'Home' %} active {% endif %}" href="{% url 'blog-home' %}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if title == 'About' %} active {% endif %}" href="{% url 'blog-about' %}">About</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link {% if title == 'Projects' %} active {% endif %}" href="{% url 'blog-projects' %}">Projects</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link {% if title == 'Blog' %} active {% endif %}" href="{% url 'blog-index' %}">Projects</a>
                </li>
            </ul>
            </div>
            <div class="row align-items-center navbar-brand" >
                <div class="col" style="padding:0px;margin-right:2px;">
                    <img src="{% static 'blog/images/code-true.svg' %}" style="background:transparent;" width="32" height="32" class="d-inline-block align-text-top">
                </div>
                <div class="col" style="padding:0px;">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col" style="padding:0px;":>
                    <img src="{% static 'blog/images/leaf-false.svg' %}" style="background:transparent;" width="32" height="32" class="d-inline-block align-text-top">
                </div>
                
            </div>
        </div>
    </nav>
    </header>

    <main>
        <div class="d-flex flex-column min-vh-90 justify-content-center align-items-center" style="margin-top:5em;margin-bottom:5em;">
            {% block content %}{% endblock %}
        </div>
    </main>
    <div class="container">
        <footer class="py-3 my-4 border-top">
          <p class="text-center text-muted">© 2025 Altug Karakurt</p>
        </footer>
    </div>
</body>
</html>