{% extends "base.html" %} 
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="flex flex-col-reverse md:flex-row place-items-start min-h-fit m-3 gap-3">
    <div class="grid content-start bg-zinc-800 p-3 w-full md:max-w-1/4 rounded-xl">
        <div class="w-full justify-start pb-5"> 
            <p class="text-center text-2xl text-white font-bold">Browse by Tag</p>
        </div>
        <div class="flex flex-wrap justify-start gap-2">
            {% for tag in popular_tags %}
                {% include "includes/tag_div.html" with tag_title=tag.name tag_cnt=tag.num_times %}
            {% empty %}
                <p>No tagged posts found.</p>
            {% endfor %} 
        </div>
    </div>
    <div class="w-full justify-start">
        <div class="w-full"> 
            <p class="m-3 text-2xl text-center text-white font-bold">Recent Posts</p>
        </div>
        
        <div class="flex-col justify-end">
            {% for post in posts %}
                {% include "includes/post_preview.html" with post=post.specific %}
            {% endfor %}

        {% if posts.paginator.num_pages > 1 %}
            <nav class="flex w-full justify-center gap-x-5 py-5">
                {% for page_num in posts.paginator.page_range %}
                    {% if posts.number == page_num %}
                        <a href="{% slugurl 'blog' %}?page={{ page_num | stringformat:'s' }}"  class="inline-flex items-center px-3 py-2 text-lg font-medium text-gray-300 hover:text-white bg-gray-700 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">{{ page_num }}</a>
                    {% else %}
                        <a href="{% slugurl 'blog' %}?page={{ page_num | stringformat:'s' }}" class="inline-flex items-center px-3 py-2 text-lg font-medium text-gray-300 hover:text-white hover:bg-gray-700 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        {% endif %}

        </div>
        <hr class="block md:hidden border-t border-gray-300 my-2">
    </div>
</div>
{% endblock %}

