{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="flex flex-col-reverse md:flex-row place-items-start min-h-fit m-3 gap-3">
    <div class="grid content-start bg-zinc-800 p-3 w-full md:max-w-1/4 rounded-xl">
        <div class="w-full justify-center pb-5"> 
            <p class="text-center text-2xl text-white font-bold">Browse by Tag</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
            {% for tag in popular_tags %}
                {% include "includes/tag_div.html" with tag_title=tag.name tag_cnt=tag.num_times %}
            {% empty %}
                <p>No tagged posts found.</p>
            {% endfor %}
        </div>
    </div>
    <div class="w-full justify-start">
            {% if request.GET.tag %}
                <div class="w-full"> 
                    <p class="m-3 text-2xl text-center text-white font-bold">Posts tagged with "{{ request.GET.tag }}"</p>
                </div>
            {% endif %}
        <div class="flex-col w-full">
            {% for blogpage in blogpages %}
                {% include "includes/post_preview.html" with post=blogpage %}
            {% empty %}
                No posts found with that tag.
            {% endfor %}

            {% if blogpages.paginator.num_pages > 1 %}
                <nav class="flex w-full justify-center gap-x-5 py-5">
                    {% for page_num in blogpages.paginator.page_range %}
                        {% if blogpages.number == page_num %}
                            <a href="{% slugurl 'tags' %}?tag={{ request.GET.tag }}&page={{ page_num | stringformat:'s' }}"  class="inline-flex items-center px-3 py-2 text-lg font-medium text-gray-300 hover:text-white bg-gray-700 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">{{ page_num }}</a>
                        {% else %}
                            <a href="{% slugurl 'tags' %}?tag={{ request.GET.tag }}&page={{ page_num | stringformat:'s' }}" class="inline-flex items-center px-3 py-2 text-lg font-medium text-gray-300 hover:text-white hover:bg-gray-700 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">{{ page_num }}</a>

                        {% endif %}
                    {% endfor %}
                </nav>
            {% endif %}
            <hr class="block md:hidden border-t border-gray-300 mx-5">
        </div>
    </div>
</div>
{% endblock %}

