{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="flex flex-col-reverse md:flex-row place-items-start min-h-fit m-3 gap-3">
    <div class="grid place-items-center p-3 w-full md:max-w-1/4">
        <div class="w-full justify-center pb-5"> 
            <p class="text-center text-2xl text-white font-bold">Browse by Tag</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
            {% for tag in popular_tags %}
                {% include "includes/tag_div.html" with tag_title=tag.name tag_cnt=tag.num_times %}
            {% empty %}
                <p>No tagged posts found.</p>
            {% endfor %}
        </div>
    </div>
    <div class="w-full justify-start">
            {% if request.GET.tag %}
                <div class="w-full"> 
                    <p class="m-3 text-2xl text-center text-white font-bold">Showing posts tagged "{{ request.GET.tag }}"</p>
                </div>
            {% endif %}
        <div class="flex-col w-full">
            {% for blogpage in blogpages %}
                {% include "includes/post_preview_div.html" with post=blogpage %}
            {% empty %}
                No posts found with that tag.
            {% endfor %}
            <hr class="block md:hidden border-t border-gray-300 my-5">
        </div>
    </div>
</div>
{% endblock %}

