{% extends "base.html" %} 
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="flex flex-col-reverse md:flex-row place-items-start min-h-fit m-3 gap-3 bg-zinc-800 rounded-lg">
    <div class="grid place-items-center p-3 w-full md:max-w-1/4">
        <div class="w-full justify-center pb-5"> 
            <p class="text-center text-2xl text-white font-bold">Browse by Tag</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
            {% for tag in popular_tags %}
                {% include "includes/tag_div.html" with tag_title=tag.name tag_cnt=tag.num_times %}
            {% empty %}
                <p>No tagged posts found.</p>
            {% endfor %} 
        </div>
    </div>
    <div class="w-full justify-start">
        <div class="w-full"> 
            <p class="m-3 text-2xl text-center text-white font-bold">Recent Posts</p>
        </div>

        <div class="flex-col justify-end">
            {% for post in posts %}
                {% include "includes/post_preview_div.html" with post=post.specific %}
            {% endfor %}
            <hr class="block md:hidden border-t border-gray-300 my-2">
        </div>
    </div>
</div>
{% endblock %}

