{% extends "blog/blog_base.html" %}

{% load blog_filters %}

{% block title-block %}
<title>{{ object.title }} -  Altug Karakurt</title>
{% endblock title-block %}

{% block blog-content %}
  <h2>{{ object.title }}</h2>
  <p class="text-muted">{{ object.date_posted|date:"F d, Y" }}</p>
  <hr>
  <p>{{ object.content | render_markdown | safe }}</p>
  <hr>
  {% if object.tags.all %}
  <div class="d-flex flex-row">
    <p class="m-1 px-2 py-1">Tags:</p>
    {% for tag in object.tags.all %}
      <div class="m-1 px-2 py-1 bg-secondary rounded"><a href="{% url 'post-tag-list' tag.title %}">{{ tag.title }}</a></div>
    {% endfor %}
  </div>
  {% endif %}
  {% if object.series.all %}
  <div class="d-flex flex-row">
    <p class="m-1 px-2 py-1">Series:</p>
    {% for series in object.series.all %}
      <div class="m-1 px-2 py-1 bg-secondary rounded"><a href="{% url 'post-series-list' series.title %}">{{ series.title }}</a></div>
    {% endfor %}
  </div>
  {% endif %}
{% endblock blog-content %}