{% extends "blog/blog_list_base.html" %}

{% load blog_filters %}

{% block title-block %}
<title>Posts with #{{ view.kwargs.tag_title }} -  Altug Karakurt</title>
{% endblock title-block %}

{% block blog-body %}
  <h2>Posts tagged with #{{ view.kwargs.tag_title }}</h2>
  <hr>
  {% for post in post_tag_list %}
    <div>
      <h3><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h3>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      <p>{{ post.blurb | render_markdown | safe }}</p>
    </div>
    <hr>
  {% endfor %}
{% endblock blog-body %}