{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top:5em;margin-bottom:5em;">
    <div class="card rounded" style="width: 12rem;">
        <img class="card-img-top" src="{% static 'blog/images/django.svg' %}" alt="Personal Website">
        <div class="card-body">
          <h5 class="card-title">This Blog</h5>
          <p class="card-text">How to do specific tasks using Python & Django that I learn by making this website.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
</div>
{% endblock content %}