{% load static tailwind_tags wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {# META #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        {% if page.search_description %}
            <meta name="description" content="{{ page.search_description }}" />
        {% endif %}

        {# TITLE #}
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}

            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>

        {# STYLE #}
        {% tailwind_css %}
        {% block extra_css %}{% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍩</text></svg>"/>

    </head>

    <body class="container flex bg-zinc-900 mx-auto text-gray-500 max-w-7xl">
        <div class="flex flex-col mx-auto my-auto h-screen">
            {% include "components/header.html" %}

            <main id="main" class="grid bg-zinc-800 mx-auto my-auto">
                {% block content %}{% endblock %}
            </main>

            {% include "components/footer.html" %}
        </div>

    </body>
    {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
</html>

