{% load static %}

<footer class="flex justify-end items-center px-5 py-5 bg-zinc-900 max-w-7xl">
    <div class="h-full pt-2 w-2/3 justify-start my-auto">
        <p>&copy; 2025 - {% now "Y" %} Altug Karakurt | Built with Django/Wagtail, TailwindCSS and HTMX</p>
    </div>
    <div class="flex gap-x-2.5 justify-end w-1/3">
        {% with settings.home.FooterLinks as footer_links%} 
            {% if footer_links.github %}
                <div class="h-10 w-10">
                    <a class="h-full w-full object-contain" href="{{ footer_links.github }}" target="_blank"><img class="hover:brightness-150" src="{% static 'altugsite/images/logo/github-gray.svg' %}"></a>    
                </div>
            {% endif %}

            {% if footer_links.linkedin %}
                <div class="h-10 w-10">
                    <a class="h-full w-full object-contain" href="{{ footer_links.linkedin }}" target="_blank"><img class="hover:brightness-150" src="{% static 'altugsite/images/logo/linkedin.svg' %}"></a>
                </div>
            {% endif %}

            {% if footer_links.scholar %}
                <div class="h-10 w-10">
                    <a class="h-full w-full object-contain" href="{{ footer_links.scholar }}" target="_blank"><img class="hover:brightness-150" src="{% static 'altugsite/images/logo/scholar.svg' %}"></a>
                </div>
            {% endif %}

            {% if footer_links.email %}
                <div class="h-10 w-10">    
                    <a class="h-full w-full object-contain" href="mailto:{{ footer_links.email }}" target="_blank"><img class="hover:brightness-150" src="{% static 'altugsite/images/logo/email.svg' %}"></a>
                </div>
            {% endif %}
        {% endwith %}
    </div>
</footer>
