{% load static %}

<footer class="flex justify-end items-center px-5 py-5 bg-zinc-900">
    <div class="h-full w-2/3 justify-start">
        <p>© 2025-2026 Altug Karakurt | Built with Django/Wagtail, TailwindCSS and HTMX</p>
    </div>
    <div class="flex gap-x-2.5 justify-end w-1/3">
        
        {% if settings.home.FooterLinks.github %}
            <div class="h-10 w-10">
            <a class="h-full w-full object-contain" href="{{ settings.home.FooterLinks.github }}" target="_blank"><img src="{% static 'altugsite/images/github.svg' %}"></a>    
            </div>
        {% endif %}

        {% if settings.home.FooterLinks.scholar %}
            <div class="h-10 w-10">
            <a class="h-full w-full object-contain" href="{{ settings.home.FooterLinks.linkedin }}" target="_blank"><img src="{% static 'altugsite/images/linkedin.svg' %}"></a>
            </div>
        {% endif %}

        {% if settings.home.FooterLinks.scholar %}
            <div class="h-10 w-10">
            <a class="h-full w-full object-contain" href="{{ settings.home.FooterLinks.scholar }}" target="_blank"><img src="{% static 'altugsite/images/scholar.svg' %}"></a>
            </div>
        {% endif %}

        {% if settings.home.FooterLinks.email %}
            <div class="h-10 w-10">    
            <a class="h-full w-full object-contain" href="mailto:{{ settings.home.FooterLinks.email }}" target="_blank"><img src="{% static 'altugsite/images/email.svg' %}"></a>
            </div>
        {% endif %}
    </div>
</footer>
