{% load static %}
<footer>
    <p class="text-center">My name is Altug Karakurt. I am a graduate student at University of Colorado, Boulder interested in information theory, machine learning and scientific computing.</p>
    <center>
        <div>
            <div class="col-sm">
                <a href="https://scholar.google.com/citations?user=vMfCqr8AAAAJ" class="round_icon" target="_blank"><img src="{% static 'altugsite/images/scholar.svg' %}" width="30" height="30"></a>
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/altugkarakurt/" class="round_icon" target="_blank"><img src="{% static 'altugsite/images/linkedin.svg' %}" width="30" height="30"></a>
            </div>
            <div class="col-sm">
                <a href="http://github.com/altugkarakurt/" class="round_icon" target="_blank"><img src="{% static 'altugsite/images/github.svg' %}" width="30" height="30"></a>
            </div>
            <div class="col-sm">
                <a href="mailto:altugkarakurt@gmail.com" class="round_icon" target="_blank"><img src="{% static 'altugsite/images/email.svg' %}" width="30" height="30"></a>
            </div>
        </div>
    </center>
</footer>
